table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.ten {
	width: 10%;
}
.fifteen {
	width: 15%;
}
.twenty {
	width: 20%;
}
.forty {
	width: 40%;
}
.fifty {
	width: 50%;
}
.sixtyfive {
	width: 65%;
}

th {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}
td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {
	background-color: #ddd;
}
td {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td:hover{
	overflow: visible;
  	white-space: normal;
}
/* A link that has not been visited #7345e4*/
a:link {
	color: #1E40AF;
}
/* A link that has been visited */
a:visited {
	color: #3730A3;
}
/* A link that is hovered on */
a:hover {
	color: red;
}
/* A link that is selected */
a:active {
	color: green;
}

p {
	padding: 10px;
}

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}
